* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/underwater_scene.jpg");
    background-size: cover;
}



#canvas1 {
    width: 1350px;
    height: 650px;
    border: 3px solid rgb(17, 133, 175);
    background-image: url("./images/underwater_scene.jpg");
    background-size: cover;
    position: relative;
}


#startButton, #tryAgain{
    font-family: fantasy;
    font-size: 35px;
    color: whitesmoke;
    width: 350px;
    height: 50px;
    position: absolute;
    content: '';
    background-color:transparent;
    border-radius:10px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#startButton:hover, #tryAgain:hover {
    background-color:rgb(6, 79, 94);
}


#introText {
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    color:white;
    font-size: 25px;
    font-family:fantasy;
    font-weight: bold;
    transition: background-color 0.3s ease;
    padding: 20px;
    
}

#introText:hover, #level1:hover{
    background-color:rgba(15, 82, 102, 0.767);

}

#level1 {
    position: absolute;
    top: 430px;
    left: 50%;
    transform: translateX(-50%);
    color:aliceblue;
    font-size: 25px;
    font-family:fantasy;
    font-weight: bold;
    transition: background-color 0.3s ease;
    padding:20px;
}


#timer {
    position: absolute;
    top: 38px;
    left: 79%;
    color:aliceblue;
    font-family: fantasy;
    font-size: 22px;
}



